<table>
    <caption> {{title}} </caption>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Codice Fiscale</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Provincia</th>
            <th>Anni</th>
            <th>Actions</th> <!-- 21.1 Aggiungo questo campo Action--> 
        </tr>
        <!--15.3 Usiamo la direttiva *ngFor per scorrere l'array "users" presente in users.component.ts-->
        <tr app-user="user" *ngFor = "let user of users" [user-data] = "user" 
        (onDeleteUser) = "onDeleteUser($event)"  (onSelectUser) = "onSelectUser($event)"
        > <!--//22.7 Come possiamo ascoltare questo evento userDeleted? che in realtà per il pubblico si chiamerà onDeleteUser perché è un Alias.  si può ascoltare qua nel componente padre Users. -->
         
       
        </tr>
    
</table>
